<header>
  <section>
    <mat-form-field>
      <mat-label>
        first word
      </mat-label>
      <input matInput placeholder="type a word with six chars" [formControl]="firstWord">
      @if(firstWord.hasError('minlength') || firstWord.hasError('maxlength') ){
        <mat-error>digite uma palavra com 6 digitos</mat-error>
      }

      @if(firstWord.hasError('notfound')){
        <mat-error>Palavra não encontrada no dicionário</mat-error>
      }
    </mat-form-field>
  </section>
  <button (click)="buttonOnclick()">
    <mat-icon>manage_search</mat-icon>
  </button>
</header>
<main>
  <h2>Combinações encontradas: {{combinations.length}} </h2>
  <section>
    <mat-card *ngFor="let combination of combinations">
      <mat-card-content>
        <p>{{combination.firstWord}}</p>
        <p>{{combination.secondWord}}</p>
        <p>{{combination.thirdWord}}</p>
      </mat-card-content>
    </mat-card>
  </section>
</main>